@tailwind base;
@tailwind components;
@tailwind utilities; 

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}
.divider:before,
.divider:after {
    content: '';
    flex: 1;
    border-bottom: 1px solid ;
}
.divider:before {
    margin-right: .25em;
}
.divider:after {
    margin-left: .25em;
}


.cardGuests{
    background-color: #F5F7F8;
}
.gestLayout{
    /* background-color: #F5F7F8; */
    background-color: #EAF2EF;
}
.logo{
    height: auto;
    width: 200px;
}

.navbar{
        background-color: rgba(255, 255, 255, 0.5);
        background-clip: text;
        color: transparent;
    }
body{
    background-image: url(images/backgroundHome2.jpg);
    color: #212922;
    background-size: cover;
        background-repeat: no-repeat;
}

.logoNav{
    width: 75px;
    height: 75px;

}

.navbar-start{
    width: 39.5%;
}

.navText{
    color: #EAF2EF;
}
.aviso{
    margin-top: 12px;
}

input{
    color: #212922;
}